<div class="container bg-dark">
  <div class="a-component">
    <div class="row">
      <div class="col d-flex justify-content-center text-center p-3">
        <h1><span class="title">Evenementen</span></h1>
        <button type="button" class="btn btn-primary ms-3" routerLink="">
          Aanmaken
        </button>
      </div>
      <hr class="rounded w-75 mx-auto" />
    </div>

    <table class="table bg-dark tableborder">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titel</th>
          <th scope="col">Prijs</th>
          <th scope="col">Datum</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a
              routerLink=""
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >{{ event.title }}</a
            >
          </td>
          <td>{{ event.price }}</td>
          <td>{{ event.date | date: 'short' }}</td>
          <td>{{ event.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
